html {
  box-sizing: border-box;
  background: url('https://source.unsplash.com/NFs6dRTBgaM/2000x2000') fixed;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
}

.items {
  height: 800px;
  padding: 20px;
  width: 800px;
  border: 2px solid white;
  overflow: hidden;    /* IMPORTANT for Cypress */
  position: relative;
  background: rgba(255,255,255,0.1);
}

.item {
  position: absolute;  /* REQUIRED */
  width: 120px;
  height: 120px;
  display: flex;       /* FIX for drag */
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: rgba(0,0,0,0.25);
  box-shadow: inset 0 0 0 5px rgba(0,0,0,0.25);
  background: dodgerblue;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}
