body {
  background: #eee;
  padding: 40px;
  font-family: Arial;
}

.items {
  list-style: none;
  padding: 0;
  width: 300px;
}

.item {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  cursor: grab;
}
